name: Build release zip

on:
    push:
        tags:
            - '*'
    workflow_dispatch:

jobs:
    build:
        name: Build release zip
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup WP-CLI
              uses: godaddy-wordpress/setup-wp-cli@1

            - name: Run package installs and builds
              run: |
                  composer install
                  composer update
                  cd vendor/threadi/easy-dialog-for-wordpress/
                  npm i
                  npm run build
                  cd ../../../
                  cd vendor/threadi/easy-setup-for-wordpress/
                  npm i
                  npm run build
                  cd ../../../

            - uses: anchore/sbom-action@v0

            - name: Generate autoloader
              run: composer dump-autoload -oa --no-dev

            - name: Run WordPress Coding Standard fixes
              run: vendor/bin/phpcbf --standard=ruleset.xml .

            - name: Run WordPress Coding Standard checks
              run: vendor/bin/phpcs --standard=ruleset.xml .

            - name: Run PHPStan check
              run: vendor/bin/phpstan analyse

            - name: PHP Compatibility check
              run: vendor/bin/phpcs -p app --standard=PHPCompatibilityWP

            - name: Set version number 1
              uses: richardrigutins/replace-in-files@v2
              with:
                  files: 'product-swatches-light.php'
                  search-text: '@@VersionNumber@@'
                  replacement-text: ${{ github.ref_name }}

            - name: Set version number 3
              uses: richardrigutins/replace-in-files@v2
              with:
                  files: 'readme.txt'
                  search-text: '@@VersionNumber@@'
                  replacement-text: ${{ github.ref_name }}

            - name: Prepare directory
              run: |
                  rm -fr .github
                  rm -fr assets
                  rm -fr bin
                  rm -fr build
                  rm -fr releases
                  rm -fr languages
                  rm -fr svn
                  rm -fr tests
                  rm changelog.md
                  rm readme.md
                  rm .gitignore
                  rm .gitattributes
                  rm .editorconfig
                  rm phpunit.xml.dist
            - name: Run PCP check
              uses: wordpress/plugin-check-action@v1
              with:
                  exclude-directories:
                      app/Dependencies/easyTransientsForWordPress/
                  ignore-codes:
                      WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedConstantFound
                  include-experimental: false
                  error-severity: 7
                  warning-severity: 6
                  include-low-severity-errors: true
                  slug: product-swatches-light
              continue-on-error: true

            - name: Create ZIP release
              run: |
                  rm ruleset.xml
                  cd ..
                  mv ${{ github.event.repository.name }} product-swatches-light
                  zip -r -q product-swatches-light_${{ github.ref_name }}.zip product-swatches-light/* -x "*/.git/*" "*/.github/*" "*/blocks/*/src/*" "*/docs/*" "*/phpcs.xml" "*/composer.json" "*/composer.lock" "*/package.json" "*/package-lock.json" "*/.gitignore" "*/vendor/*" "*/node_modules/*" "/.editorconfig"
                  zip -ur product-swatches-light_${{ github.ref_name }}.zip product-swatches-light/vendor/autoload.php
                  zip -ur product-swatches-light_${{ github.ref_name }}.zip product-swatches-light/vendor/composer/*
                  zip -ur product-swatches-light_${{ github.ref_name }}.zip product-swatches-light/vendor/threadi/*/build/*
                  zip -ur product-swatches-light_${{ github.ref_name }}.zip product-swatches-light/vendor/threadi/*/lib/*
                  zip -ur product-swatches-light_${{ github.ref_name }}.zip product-swatches-light/vendor/threadi/*/src/*
                  mv product-swatches-light ${{ github.event.repository.name }}/
                  cp product-swatches-light_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/

            - name: Create Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  files: product-swatches-light_${{ github.ref_name }}.zip
